
	<div class="col-md-9 b-profile-center" >
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title text-left">Following Users on your B-Profile</h6>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 b-profile-right p-md-0">
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Suggested B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.suggested_profiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3 text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
		</div>
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Linked B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.linkedprofiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
	
		</div>
	</div>

		<!-- Window-popup Create Friends Group Add Friends -->
	<div class="modal fade" id="addTeamMember">
		<div class="modal-dialog ui-block window-popup create-friend-group addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Add New Members</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="form-group label-floating">
							<label class="control-label">Name<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Designation<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		
		</div>
	</div>

	<div class="modal fade" id="addLeaderBoard">
		<div class="modal-dialog ui-block window-popup create-friend-group addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Add New Leader Board</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="form-group label-floating">
							<label class="control-label">Name<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Designation<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Window-popup Create Friends Group Add Friends -->
	