
	<div class="col-md-9 b-profile-center" >
		
<div class="ui-block">
		<div class="ui-block-title p-3">
			<h6 class="title">Photos</h6>
		</div>
		<div class="ui-block-content">
			<div class="photo-album-wrapper row">
				<div class="col-md-4 p-2">	
					<div class="photo-item">
						<img src="assets/img/photo-item2.jpg" alt="photo">
						<div class="overlay overlay-dark"></div>
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
							<span>15</span>
						</a>
						<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
						<div class="content">
							<a href="#" class="h6 title">Header Photos</a>
							<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
						</div>
					</div>
				</div>
				<div class="col-md-4 p-2">	
					<div class="photo-item">
						<img src="assets/img/photo-item2.jpg" alt="photo">
						<div class="overlay overlay-dark"></div>
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
							<span>15</span>
						</a>
						<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
						<div class="content">
							<a href="#" class="h6 title">Header Photos</a>
							<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
						</div>
					</div>
				</div>
				<div class="col-md-4 p-2">	
					<div class="photo-item">
						<img src="assets/img/photo-item2.jpg" alt="photo">
						<div class="overlay overlay-dark"></div>
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
							<span>15</span>
						</a>
						<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
						<div class="content">
							<a href="#" class="h6 title">Header Photos</a>
							<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-block">
		<div class="ui-block-title p-3">
			<h6 class="title">Videos</h6>
		</div>
		<div class="ui-block-content">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12 p-2">
					<div class="ui-block video-item">
						<div class="video-player">
							<img src="assets/img/video10.jpg" alt="photo">
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
								<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
							</a>
							<div class="overlay overlay-dark"></div>
			
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
						</div>
			
						<div class="ui-block-content video-content">
							<a href="#" class="h6 title">Rock Garden Festival - Day 3</a>
							<time class="published" datetime="2017-03-24T18:18">18:44</time>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 p-2">
					<div class="ui-block video-item">
						<div class="video-player">
							<img src="assets/img/video11.jpg" alt="photo">
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
								<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
							</a>
							<div class="overlay overlay-dark"></div>
			
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
						</div>
			
						<div class="ui-block-content video-content">
							<a href="#" class="h6 title">Rock Garden Festival - Day 2</a>
							<time class="published" datetime="2017-03-24T18:18">13:19</time>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 p-2">
					<div class="ui-block video-item">
						<div class="video-player">
							<img src="assets/img/video11.jpg" alt="photo">
							<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
								<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
							</a>
							<div class="overlay overlay-dark"></div>
			
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
						</div>
			
						<div class="ui-block-content video-content">
							<a href="#" class="h6 title">Rock Garden Festival - Day 2</a>
							<time class="published" datetime="2017-03-24T18:18">13:19</time>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="col-md-3 b-profile-right p-md-0">
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Suggested B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.suggested_profiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3 text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
		</div>
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Linked B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.linkedprofiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
	
		</div>
	</div>


		<!-- Window-popup Create Friends Group Add Friends -->
	<div class="modal fade" id="addphotoalbum">
		<div class="modal-dialog modal-lg ui-block addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Create Photo Album</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<!-- <div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div> -->
					<div class="col-md-12">
						<div class="form-group label-floating">
							<label class="control-label">Title<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Discription<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		
		</div>
	</div>

	<div class="modal fade" id="addvideoalbum">
		<div class="modal-dialog modal-lg ui-block addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Create Video Album</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<!-- <div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div> -->
					<div class="col-md-12">
						<div class="form-group label-floating">
							<label class="control-label">Title<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Discription<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Window-popup Create Friends Group Add Friends -->
	