
	<div class="col-md-9 b-profile-center" >
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title text-left">Feedback</h6>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-2 d-flex text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<p class="rating d-flex m-auto"><a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a></p>
						<p class="chat-message-item mb-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</li>
				<li class="inline-items p-2 d-flex text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<p class="rating d-flex m-auto"><a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a> <a class="d-inline-flex"><i class="fa fa-star"></i></a></p>
						<p class="chat-message-item mb-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 b-profile-right p-md-0">
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Suggested B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.suggested_profiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3 text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
		</div>
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Linked B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.linkedprofiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
	
		</div>
	</div>
