<!-- Login-Registration Form  -->
<!-- <div data-ng-include="'templates/nav/fixed-sidebar.html'"></div> -->
<div data-ng-include="'templates/nav/afterheader.html'"></div>
<div class="container pt-3 pb-3" id="pageBody">
	<div class="row">
		<div class="col-md-12 pt-3 pb-3 mb-3">
			<h4>Create Your Business Profile</h4>
			<p>Promote your business and explore the new opportunities along with competitive analysis of sales and lead generation.</p>
		</div>
		<div class="col-md-4">
			<div class="ui-block card">
				<div class="ui-block-title p-3 bg-primary text-white">
					<h6 class="title text-white text-center">Business Profile</h6>
				</div>
				<div class="p-1 bg-smoke text-center">
					All time free plan
				</div>
				<div class="ui-block-content" style="height: 160px;">
						
					<div class="row">
						<ul class="widget w-personal-info p-2 number-list">
							<li>
								<i>1</i>
								Grow your business network
							</li>
							<li>
								<i>2</i>
								Find and contact right leads
							</li>
							<li>
								<i>3</i>
								Build trust & relationship with customer's prospect
							</li>
						</ul>
					</div>
				</div>
				<div class="ui-block-title text-center p-2">
					<button ui-sref="createbprofile" class="btn btn-theme">Get Started</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ui-block card">
				<div class="ui-block-title p-3 bg-warning text-white">
					<h6 class="title text-white text-center">Business Profile Pro</h6>
				</div>
				<div class="p-1 bg-smoke text-center">
					All time free plan
				</div>
				<div class="ui-block-content" style="height: 160px;">
					<div class="row">
						<ul class="widget w-personal-info  number-list p-2">
							<li>
								<i>1</i>
								Grow your business network
							</li>
							<li>
								<i>2</i>
								Find and contact right leads
							</li>
							<li>
								<i>3</i>
								Build trust & relationship with customer's prospect
							</li>
						</ul>
					</div>
				</div>
				<div class="ui-block-title text-center p-2">
					<button class="btn btn-warning">Start or Upgrade</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ui-block card">
				<div class="ui-block-title p-3 bg-info text-white">
					<h6 class="title text-white text-center">Business Profile Advance</h6>
				</div>
				<div class="p-1 bg-smoke text-center">
					Paid Plan
				</div>
				<div class="ui-block-content" style="height: 160px;">
					<div class="row">
						<ul class="widget w-personal-info  number-list p-2">
							<li>
								<i>1</i>
								Unlimited Business Insite (Analyties)
							</li>
							<li>
								<i>2</i>
								B Profile interlinking
							</li>
							<li>
								<i>3</i>
								Unlimited People Brouesing
							</li>
							<li>
								<i>4</i>
								All permission for creating groups & lead transfer
							</li>
						</ul>
					</div>
				</div>
				<div class="ui-block-title text-center p-2">
					<button class="btn btn-info">Upgrade</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-ng-include="'templates/nav/afterfooter.html'"></div>