	<div class="col-md-3 b-profile-left text-left p-md-0 responsive-display-none">
		<div class="ui-block">
			<div class="your-profile">
				<div>
					<div class="card">
						<div class="card-header">
							About
						</div>
						<div class="card-body">
							<ul class="your-profile-menu">
								<li class="ng-scope">
									<a ng-click="customTab({'id':'1','name':'Info Outline','editmode':false})" ng-class="panelHeader.id==1?'active':''" class="ng-binding">Info Outline</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'2','name':'About Organization','editmode':false})" ng-class="panelHeader.id==2?'active':''" class="ng-binding">About Organization</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'3','name':'Organization Expertise','editmode':false})" ng-class="panelHeader.id==3?'active':''" class="ng-binding">Organization Expertise</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'4','name':'Leaders Board','editmode':false})" ng-class="panelHeader.id==4?'active':''" class="ng-binding">Leaders Board</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'5','name':'Team Members','editmode':false})" ng-class="panelHeader.id==5?'active':''" class="ng-binding">Team Members</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'6','name':'Certification / Licenses','editmode':false})" ng-class="panelHeader.id==6?'active':''" class="ng-binding">Certification / Licenses</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'7','name':'Looking For','editmode':false})" ng-class="panelHeader.id==7?'active':''" class="ng-binding">Looking For</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								<li class="ng-scope">
									<a ng-click="customTab({'id':'9','name':'Awards And Achivements','editmode':false})" ng-class="panelHeader.id==9?'active':''" class="ng-binding">Awards And Achivements</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
								
								<li class="ng-scope">
									<a ng-click="customTab({'id':'8','name':'Contact Info','editmode':false})" ng-class="panelHeader.id==8?'active':''" class="ng-binding">Contact Info</a>
									<div class="skills-item mb-2 ml-2 mr-2 d-flex ng-scope">
										<div class="skills-item-meter ">
											<span class="skills-item-meter-active" style="width: 100%"></span>
										</div>
										<span class="skills-item-number ng-binding">100%</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 b-profile-center p-sm-02">
		<div class="ui-block" ng-class="panelHeader.id=='1'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Info Outline</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-6">
						<ul class="widget w-personal-info">
							<li class="">
								<span class="title">Organization  Name:</span>
								<span class="text">WappTech Logics Group</span>
							</li>
							<li class="">
								<span class="title">Organization Type:</span>
								<span class="text">Propreitorship</span>
							</li>
							<li class="">
								<span class="title">Sub Industry:</span>
								<span class="text">It Solutions</span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="widget w-personal-info">
							<li class="">
								<span class="title">Establish Since</span>
								<span class="text">05/07/2017</span>
							</li>
							<li class="">
								<span class="title">Industry:</span>
								<span class="text">Information Technology</span>
							</li>
						</ul>
					</div>
					<div class="col-md-12">
						<ul class="widget w-personal-info">
							<li class="">
								<span class="title">Profile URL</span>
								<span id="CopyUrl" class="text">http://localhost:8899/profile/Ashish.Pokle-5c0b8787bcb5590c704da68c</span>
								<div class="more d-flex">
									<button class="btn btn-link"><i class="fa fa-clone"></i>&nbsp;Copy</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='2'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">About Organization</h6>
			</div>
			<div class="ui-block-content">
				<ul class="widget row w-personal-info">
					<li class="col-md-12 d-inline-block">
						<span class="title">About Us</span>
						<span class="text">You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet. You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.</span>
					</li>
					<li class="col-md-12 d-inline-block">
						<span class="title">Vision</span>
						<span class="text"> You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.</span>
					</li>
					<li class="col-md-12 d-inline-block">
						<span class="title">Mission</span>
						<span class="text">You asked, Font Awesome delivers with 41 shiny new icons in version 4.7. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='3'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Organization Expertise</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-6 mb-4 d-flex">
						<div class="composition">
							<a class="composition-name">UI/UX Designer</a>
							<a class="composition-author">We have 2+ yes experienced designer's</a>
						</div>
					</div>
					<div class="col-md-6 mb-4 d-flex">
						<div class="composition">
							<a class="composition-name">UI/UX Designer</a>
							<a class="composition-author">We have 2+ yes experienced designer's</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='4'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Leaders Board</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
					<!-- <div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups create-group h-100" data-mh="friend-groups-item">
							<a href="#" class="  full-block" style="z-index: 999;" data-toggle="modal" data-target="#addLeaderBoard"></a>
							<div class="content">
								<div class="friend-avatar mb-0">
									<div class="author-thumb d-flex mb-1">
										<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h5 author-name">Add New Board Member</a>
									</div>
								</div>
								
							</div>
						</div>
					</div> -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='5'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Team Members</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
					<!-- <div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups create-group h-100" data-mh="friend-groups-item">
							<a href="#" class="  full-block" style="z-index: 999;" data-toggle="modal" data-target="#addTeamMember"></a>
							<div class="content">
								<div class="friend-avatar mb-0">
									<div class="author-thumb d-flex mb-1">
										<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h5 author-name">Add New Team Member</a>
									</div>
								</div>
								
							</div>
						</div>
					</div> -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='6'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Certification / Licenses</h6>
			</div>
			<div class="ui-block-content">
				<div class="row m-0">
					<div class="col-md-6 pl-1 pr-1">
						<div class="card p-2 mb-2" style="box-shadow: none;border: 1px solid #ddd;">
							<h6 class="card-title mb-1">Graphic Design</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="col-md-6 pl-1 pr-1">
						<div class="card p-2 mb-2" style="box-shadow: none;border: 1px solid #ddd;">
							<h6 class="card-title mb-1">Graphic Design</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="col-md-6 pl-1 pr-1">
						<div class="card p-2 mb-2" style="box-shadow: none;border: 1px solid #ddd;">
							<h6 class="card-title mb-1">Graphic Design</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='7'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Looking For</h6>
			</div>
			<div class="ui-block-content">
				<div class="row m-0">
					<div class="col-md-6  mb-4 d-flex">
						<div class="composition">
							<a class="composition-name">Graphic Designer</a>
							<a class="composition-author">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
						</div>
					</div>
					<div class="col-md-6  mb-4 d-flex">
						<div class="composition">
							<a class="composition-name">Graphic Designer</a>
							<a class="composition-author">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='9'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Awards and achivements</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="friend-item friend-groups" style="border: 1px solid #d0d0d0;">
							<div class="friend-item-content p-3">
								<div class="friend-avatar mb-0">
									<div class="author-thumb mb-1">
										<img src="assets/img/last-phot15.jpg" style="width: 100%;" alt="Olympus">
									</div>
									<div class="author-content mb-0">
										<a href="#" class="h6 author-name">Ashish Pokle</a>
										<div class="country">Web Designer</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>
		<div class="ui-block" ng-class="panelHeader.id=='8'?'active':'d-md-none'">
			<div class="ui-block-title p-3 pl-3">
				<h6 class="title">Contact Info</h6>
			</div>
			<div class="ui-block-content">
				<div class="row">
						<div class="col-md-6">
						<ul class="widget w-personal-info">
							<li class="">
								<span class="title">Email</span>
								<span class="text">info@wapptechlogics.in</span>
							</li>
							<li class="">
								<span class="title">Secondary Email</span>
								<span class="text">wapptechlogics@gmail.com</span>
							</li>
							<li class="">
								<span class="title">Address</span>
								<span class="text">99, Dewas Naka, Near Metro Mall, Indore-452010</span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="widget w-personal-info">
							<li class="">
								<span class="title">Contact Number</span>
								<span class="text"> 9893440098</span>
							</li>
							<li class="">
								<span class="title">Telephone Number</span>
								<span class="text"> 0731-4588595</span>
							</li>
							<li class="">
								<a href="https://www.google.co.in/maps/dir/22.7605643,75.8931754/Vijay+Nagar,+Indore,+Madhya+Pradesh+452010/@22.7601745,75.8756116,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x396302af403406fb:0x5b50834b117f8bab!2m2!1d75.8936962!2d22.7532848!3e0?hl=en&authuser=0" target="_blank" class="btn btn-theme btn-sm m-2">Get Direction</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-3 b-profile-right p-md-0">
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Suggested B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.suggested_profiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3 text-left">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
		</div>
		<div class="ui-block">
			<div class="ui-block-title p-3">
				<h6 class="title">Linked B-Profiles</h6>
				<span style="font-size: 12px;text-align: right;color: #0396b6;"><a ui-sref="businessprofile.linkedprofiles">View All</a></span>
			</div>
			<ul class="widget w-friend-pages-added notification-list friend-requests">
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
				<li class="inline-items p-3">
					<div class="author-thumb">
						<img src="assets/img/avatar38-sm.jpg" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">Francine Smith</a>
						<span class="chat-message-item">Industry name</span>
					</div>
					<!-- <span class="notification-icon">
						<a href="#" class="accept-request">
							<span class="icon-add without-text">
								<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</span>
						</a>
					</span> -->
	
				</li>
	
			</ul>
	
		</div>
	</div>

	<!-- ... end Window-popup Create Friends Group Add Friends -->
	<script>
	
		function initAutocomplete() {
			var map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -33.8688, lng: 151.2195},
			zoom: 13,
			mapTypeId: 'roadmap'
			});
	
			// Create the search box and link it to the UI element.
			var input = document.getElementById('pac-input');
			var searchBox = new google.maps.places.SearchBox(input);
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
	
			// Bias the SearchBox results towards current map's viewport.
			map.addListener('bounds_changed', function() {
			searchBox.setBounds(map.getBounds());
			});
	
			var markers = [];
			// Listen for the event fired when the user selects a prediction and retrieve
			// more details for that place.
			searchBox.addListener('places_changed', function() {
			var places = searchBox.getPlaces();
	
			if (places.length == 0) {
				return;
			}
	
			// Clear out the old markers.
			markers.forEach(function(marker) {
				marker.setMap(null);
			});
			markers = [];
	
			// For each place, get the icon, name and location.
			var bounds = new google.maps.LatLngBounds();
			places.forEach(function(place) {
				if (!place.geometry) {
				console.log("Returned place contains no geometry");
				return;
				}
				var icon = {
				url: place.icon,
				size: new google.maps.Size(71, 71),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(17, 34),
				scaledSize: new google.maps.Size(25, 25)
				};
	
				// Create a marker for each place.
				markers.push(new google.maps.Marker({
				map: map,
				icon: icon,
				title: place.name,
				position: place.geometry.location
				}));
	
				if (place.geometry.viewport) {
				// Only geocodes have viewport.
				bounds.union(place.geometry.viewport);
				} else {
				bounds.extend(place.geometry.location);
				}
			});
			map.fitBounds(bounds);
			});
		}
	
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>

	<script>
		$('.subindustry-dropdown').dropdown({
		  limitCount: 40,
		  multipleMode: 'label',
		  choice: function () {
			// console.log(arguments,this);
		  }
		});
	
	  </script>
	  <script type="text/javascript">
		// function Copy(URL) 
		// {
		// 	var copyText = document.getElementById("CopyUrl");
		// 	copyText.select();
		// 	document.execCommand("copy");
		// 	alert("Copied the text: " + copyText.value);
		// 	//var Url = document.createElement("textarea");
		// 	urlCopied.innerHTML = URL;
		// 	//Copied = Url.createTextRange();
		// 	//Copied.execCommand("Copy");
		// }
	</script>