<div class="ui-block">
	<div class="ui-block-title p-1 pl-3">
		<h6 class="title">Photos</h6>
		<button class="btn btn-icon btn-link float-right" data-toggle="modal" data-target="#addprofiledetails"><i class="fa fa-pencil-square-o text-dark" style="font-size:20px;"></i></button>
	</div>
	<div class="ui-block-content">
		<div class="photo-album-wrapper row">
			<div class="col-md-4 p-1">	
				<div class="photo-item">
					<img src="assets/img/photo-item2.jpg" alt="photo">
					<div class="overlay overlay-dark"></div>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
						<span>15</span>
					</a>
					<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
					<div class="content">
						<a href="#" class="h6 title">Header Photos</a>
						<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
					</div>
				</div>
			</div>
			<div class="col-md-4 p-1">	
				<div class="photo-item">
					<img src="assets/img/photo-item2.jpg" alt="photo">
					<div class="overlay overlay-dark"></div>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
						<span>15</span>
					</a>
					<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
					<div class="content">
						<a href="#" class="h6 title">Header Photos</a>
						<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
					</div>
				</div>
			</div>
			<div class="col-md-4 p-1">	
				<div class="photo-item">
					<img src="assets/img/photo-item2.jpg" alt="photo">
					<div class="overlay overlay-dark"></div>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/img/icons.svg#olymp-three-dots-icon"></use></svg></a>
					<a href="#" class="post-add-icon inline-items">
						<svg class="olymp-heart-icon"><use xlink:href="assets/img/icons.svg#olymp-heart-icon"></use></svg>
						<span>15</span>
					</a>
					<a href="#" data-toggle="modal" data-target="#open-photo-popup-v2" class="  full-block"></a>
					<div class="content">
						<a href="#" class="h6 title">Header Photos</a>
						<time class="published" datetime="2017-03-24T18:18">1 week ago</time>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui-block">
	<div class="ui-block-title p-1 pl-3">
		<h6 class="title">Videos</h6>
		<button class="btn btn-icon btn-link float-right" data-toggle="modal" data-target="#addContactdetails"><i class="fa fa-pencil-square-o text-dark" style="font-size:20px;"></i></button>
	</div>
	<div class="ui-block-content">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 p-1">
				<div class="ui-block video-item">
					<div class="video-player">
						<img src="assets/img/video10.jpg" alt="photo">
						<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
							<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
						</a>
						<div class="overlay overlay-dark"></div>
		
						<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
					</div>
		
					<div class="ui-block-content video-content">
						<a href="#" class="h6 title">Rock Garden Festival - Day 3</a>
						<time class="published" datetime="2017-03-24T18:18">18:44</time>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 p-1">
				<div class="ui-block video-item">
					<div class="video-player">
						<img src="assets/img/video11.jpg" alt="photo">
						<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
							<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
						</a>
						<div class="overlay overlay-dark"></div>
		
						<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
					</div>
		
					<div class="ui-block-content video-content">
						<a href="#" class="h6 title">Rock Garden Festival - Day 2</a>
						<time class="published" datetime="2017-03-24T18:18">13:19</time>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 p-1">
				<div class="ui-block video-item">
					<div class="video-player">
						<img src="assets/img/video11.jpg" alt="photo">
						<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
							<svg class="olymp-play-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-play-icon"></use></svg>
						</a>
						<div class="overlay overlay-dark"></div>
		
						<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/assets/img/icons.svg#olymp-three-dots-icon"></use></svg></div>
					</div>
		
					<div class="ui-block-content video-content">
						<a href="#" class="h6 title">Rock Garden Festival - Day 2</a>
						<time class="published" datetime="2017-03-24T18:18">13:19</time>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		<!-- Window-popup Create Friends Group Add Friends -->
	<div class="modal fade" id="addTeamMember">
		<div class="modal-dialog ui-block window-popup create-friend-group addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Add New Members</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="form-group label-floating">
							<label class="control-label">Name<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Designation<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		
		</div>
	</div>

	<div class="modal fade" id="addLeaderBoard">
		<div class="modal-dialog ui-block window-popup create-friend-group addTeamMember">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="ui-block-title">
				<h6 class="title">Add New Leader Board</h6>
			</div>
		
			<div class="ui-block-content">
				<div class="row">
					<div class="col-md-3">
						<div class="friend-avatar m-0">
							<div class="author-thumb d-flex mb-1">
								<i class="fa fa-plus" style="font-size: 3.5rem !important; width: 50px; margin: auto; height: 50px;"></i>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="form-group label-floating">
							<label class="control-label">Name<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group label-floating">
							<label class="control-label">Designation<sup class="text-danger">*</sup></label>
							<input type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 align-right">
						<button class="btn btn-primary btn-lg">Save</button>
						<button data-dismiss="modal" class="btn btn-danger btn-lg">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Window-popup Create Friends Group Add Friends -->
	