<nav class="navbar bg-white d-block d-md-none mobile-header text-center" style="padding: 20px 0 0 0;">
	<a class="navbar-brand m-0" ui-sref="/"><img src="assets/img/logo.png" style="width:100px;" alt="NxBusiness"></a>
</nav>
<nav class="navbar navbar-expand-md bg-white d-none d-md-block">
	<div class="container">
		<a class="navbar-brand d-none d-md-block"  ui-sref="/"><img src="http://localhost/nx/assets/img/logo.png" style="width:60px;" alt="NxBusiness"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>